name: Master
on:
  push:
    branches:
      - 'master'
  schedule:
    - cron: '* 9,10 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build Go App
        run: docker build -t bd:latest .
      - name: Run Docker Image
        run: docker run bd:latest